@import "_var.scss";
@import "_colors.scss";

.eatbit-logo{
    height: $logoHeight;
    width: $logoWidth;
}
.eatbit-brand{
    padding-left: 10px;   
}
.navbar-extra-width{
    padding-bottom: 8px;
    padding-top: 8px;
}

.navbar-default{
    
    .navbar-brand {
            color: #fff !important; 
            font-family: 'Exo 2', sans-serif;
            font-size: 30px;
    }
    
    .navbar-toggle {
        color: #fff !important; 
        border-color: #fff !important;
        
        .icon-bar { 
            background-color: #fff !important;
            
        }
        &:hover{
            background-color: #fff !important;
            .icon-bar { 
                background-color: $eatbit_red !important;
            
            }
        }
        &:focus{
            background-color: #3fb0ac !important;
        }
    }
    
}

/*.navbar-fixed-top {
  //top: -70px; /* you'll have to figure out the exact number here */
  /*position: relative;
}*/


.navbar {
	font-family: 'Open Sans', sans-serif !important;
    padding-left: 50px;
    padding-right: 50px;
    background-color: $eatbit_red;
    min-width: 310px;
    position: static;
    width: 100%;
    margin-bottom: 0px;
    z-index: 3;
    /* remove a visible border on chrome */
    border-radius: 0px;
    border: 0px !important;
    // remove focus ugly outline
    .navbar-brand:focus {
        outline:0;
    }
    
    #not-logged{
        li>a {
            color: #fff;
            &:hover{
                color:#b3c2bf;
            }
            &:focus{
                outline: 0;
            }
        }
        .btn{
            margin: 8px 15px;
            &:focus{
                outline: 0;
            }
        }   
    }
    #logged{
        margin-top: 8px;
        .dropdown{
            .dropdown-menu{
                padding-top: 0px !important;
                .user-thumbnail{
                    text-align: center;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        #notification{
            margin-left: 5px;
            margin-top: 3px;
            #btn-notify{
                border-radius: 20px !important;
                padding: 6px 12px !important;
                color:#000 !important;
                &:hover{
                    background-color: #3fb0ac;
                }
            }
            #ntfy-badge{
                background:$eatbit_blue;
                display: none;
                position: relative;
                top:-33px;
                width: 25px;
                left: 30px;
           }
        }
    }
}


@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #333;
     }
     .navbar-default .navbar-nav .open .dropdown-menu>li{
         color: #333;
         .data{
             color:#bbb;
         }
     }
     .navbar-default{
         .navbar-collapse{
             .navbar-form{
                 border-top: 0px;
             }
             .btn{
                width: 100%;
             }
             #not-logged {
                 .btn{
                     margin: 8px 0px;
                 }
                .navbar-link{
                    text-align: center;
                }
            }
            #logged{
                #notification{
                    color: #333;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                    margin-top: 5px;
                    #btn-notify{
                        border-radius: 5px !important;
                    }
                    #ntfy-badge{
                            background:$eatbit_blue;
                            display: none;
                            position: relative;
                            top:-23px;
                            width: 25px;
                    }
                    .dropdown-menu{
                        width: auto;
                    }
                }
            }
            .dropdown-menu{
                background-color: #fff;
                li{
                    text-align: center;
                    color: #333 !important;
                }
            }
         }
     }
}

.navbar-collapse.in {
    overflow-y: inherit !important;
}

.navbar-default{
    @media (max-width: 1020px){
    #locationRisto{
        width: 100px;
    }
    }
    @media (max-width: 902px){
    #nomeRisto{
        width: 150px;
    }
    }
    @media (max-width: 825px){
    #nomeRisto{
        width: 90px;
    }
    #locationRisto{
        width: 90px;
    }
    }
    @media (max-width: 767px){
    #locationRisto, #nomeRisto{
        width: 100%;
    }
    }
    @media only screen and (max-width: 1200px) {
        .navbar {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}