@import "_var.scss";
@import "_colors.scss";

.eatbit-logo{
    height: $logoHeight;
    width: $logoWidth;
}
.eatbit-brand{
    padding-left: 10px;   
}
.navbar-extra-width{
    padding-bottom: 8px;
    padding-top: 8px;
}

.navbar-default{
    
    .navbar-brand {
            color: #fff !important; 
    }
    
    .navbar-toggle {
        color: #fff !important; 
        border-color: #fff !important;
        
        .icon-bar { 
            background-color: #fff !important;
            
        }
        &:hover{
            background-color: #fff !important;
            .icon-bar { 
                background-color: $eatbit_red !important;
            
            }
        }
    }
    
}

.navbar {
	font-family: 'Open Sans', sans-serif !important;
    padding-left: 50px;
    padding-right: 50px;
    background-color: $eatbit_red;
    min-width: 400px;
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
    z-index: 3;
    /* remove a visible border on chrome */
    border-radius: 0px;
    border: 0px !important;
    // remove focus ugly outline
    .navbar-brand:focus {
        outline:0;
    }
    
    #not-logged{
        li>a {
            color: #fff;
            &:hover{
                color:#b3c2bf;
            }
            &:focus{
                outline: 0;
            }
        }
        .btn{
            margin: 8px 15px;
            &:focus{
                outline: 0;
            }
        }   
    }
    #logged{
        margin-top: 8px;
        .dropdown{
            .dropdown-menu{
                padding-top: 0px !important;
                .user-thumbnail{
                    text-align: center;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}


@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
     }
     .navbar-default{
         .navbar-collapse{
             .navbar-form{
                 border-top: 0px;
             }
             .btn{
                width: 100%;
             }
             #not-logged {
                 .btn{
                     margin: 8px 0px;
                 }
                .navbar-link{
                    text-align: center;
                }
            }
            .dropdown-menu{
                li{
                    text-align: center;
                }
            }
         }
     }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding-left: 40px;
        padding-right: 40px;
    }
}