.horizontally-centered {
    margin-left: auto !important;
    margin-right: auto !important;
    right: 0 !important;
    left: 0 !important;
    text-align: center;
}

.drag-select-disabled {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}