<footer class="footer-distributed">

			<div class="footer-left">

				<h3>eat<span>Bit</span></h3>

				<p class="footer-links">
					<a href="#">Home</a> . 
					<a href="#">About</a> . 
					<a href="#">Privacy</a>
				</p>

				<p class="footer-company-name">eatBit &copy; 2016</p>

			</div>
			<div class="footer-right">

				<p>Contatta</p>

				<form action="#" method="post">

					<input type="text" name="sendEmail" placeholder="Email" />
					<textarea name="message" placeholder="Message"></textarea>
					<button type="submit"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>  Invia</button>

				</form>

			</div>
</footer>