@import "components/_utilities.scss";
@import "components/colors.scss";

.jumbotron{
    background: url('../img/jumbobackground.jpg') center top no-repeat;background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    
    .jumbo-text-container{
        color: #fff;
        .name{
            font-family: 'Exo 2', sans-serif;
        }
        h1{
            font-size: 70px;
        }   
    }
    .input-thumbnail{
        display: inline-block;
        width: 50%;
        border-color: #B6B6B6;
        background-color: rgba(248, 248, 248, 0.3) !important;
        padding: 15px 15px;
        min-width: 270px; 
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
        .jumbo-textbox-container{
            .checkbox{
                font-weight: bolder;
                color: #fff;
                font-size: 16px;
                margin-top: 0px;
                .glyphicon{
                    margin-right: 5px;
                    font-size: 18px;
                }
                #error-msg, #susscess-msg{
                    font-size: 15px;
                }
            }
            margin-bottom: 0px;
            .sapce-top{
                margin-top: 8px;
            }  
        }
        .jumbo-button-container{
            padding-top: 10px;
            .btn-block{
                background-color: #C70039;
                color: #fff;
                border: 1px solid #fff;
                &:hover{
                    background-color: #e62739;
                }
            }
        }
        form{
            margin-bottom: 0px;
        }
    }
    
}

#last-update{
    #info-box{
        font-family:'Source Sans Pro', sans-serif;
        color:#666;
        padding: 0px 20px;
        padding-bottom: 5px;
        text-align: center;
    }
    #updates{
        padding: 10px 10px;
        .update{
            padding: 0px;
            padding-top: 20px;
            .update-head-img{
                padding-bottom: 10px; 
                img{
                    height: 100px;
                    width: auto;
                    text-align: center;
                }
            }
            .update-body{
                border: 0px;
                .comment{
                    margin-top: 25px;
                    border: 5px solid #fff;
                    box-shadow: 0px 0px 5px 1px #999;
                    background-color: $eatbit-red;
                    color: white;
                    .container-fluid{
                        padding-right: 5px;
                        padding-left: 5px;
                        .row{
                            .comment-writer{
                                //background-color: red;
                                text-align: center;
                                margin-top: 10px;
                                .img-circle{
                                    width: 80px;
                                    height: 80px;
                                    margin: 2px;
                                }
                                .comment-data{
                                    color: #fff;
                                    font-size: 12px;
                                }
                                .thumbnail{
                                    
                                    max-width: 100px;
                                    max-height: 100px;
                                    width: auto;
                                    height: auto;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-top: 0px;
                                    margin-bottom: 5px;
                                    padding: 2px;
                                    img{
                                        width:auto;
                                        height: auto;
                                    }
                                }
                                .btn-segnala-photo-recensione{
                                    margin-bottom: 3px;
                                    font-size: 12px;
                                    color: #fff;
                                }
                            }
                            .comment-content{
                                padding-bottom: 5px;
                                .btn-segnala-review{
                                    border: 1px solid #fff;
                                    float: right;
                                    margin-top: 10px;
                                    background-color: $eatbit_red;
                                    &:enabled{
                                        &:hover{
                                            background-color: #C70039  ;
                                        }
                                    }
                                }
                                .comment-title{
                                    margin-top: 15px;
                                    margin-bottom: 5px;
                                    font-size: 18px;
                                    font-weight: bold;
                                }
                                .comment-text{
                                    font-size: 13px;
                                }
                                .risposta-admin{
                                    border: 1px solid #fff;
                                    border-radius: 20px;
                                    padding: 10px;
                                    margin-bottom: 10px;
                                    .lb{
                                        text-align: right;
                                        @media (max-width: 991px){
                                            text-align: left;
                                        }
                                    }
                                    .risposta-text{
                                        font-size: 12px;
                                    }
                                    .risposta-autore,.risposta-date{
                                        text-align: right;
                                        font-size: 12px;   
                                    }
                                    .risposta-autore{
                                        font-weight: bold;
                                        margin-bottom: 0px;
                                    }
                                }
                                .rating-stars{
                                    margin-left: 0px;
                                    margin-bottom:10px;  
                                    display: block;
                                    img{
                                        height: 20px;
                                        width: auto;
                                    }
                                }
                                p{
                                    text-align: justify;
                                }
                                .btn-mi-piace,.btn-non-mi-piace{
                                    background-color: $eatbit_red;
                                    border: 1px solid #fff;
                                    //&:hover{
                                        //  background-color: #C70039  ;
                                    //}
                                    &:enabled{
                                        &:hover{
                                            background-color: #C70039  ;
                                        }
                                    }
                                    @media (max-width: 405px){
                                        margin-top: 2px;
                                        width: 150px;
                                    }
                                    @media (max-width: 430px){
                                        font-size: 12px;
                                    }
                                }
                                .comment-nome-ristorante{
                                    float: right;
                                    margin-top: 5px;
                                    a{
                                        color: #FFC300;
                                        font-weight: bold;
                                    }   
                                }
                            }
                        }
                    }
                }
                .restaurant{
                    margin-top: 15px;
                    box-shadow: 10px 10px 5px #dedede;
                    border: 1px solid #dedede;
                    .row{
                        .restaurant-title{
                            text-align: center;
                            margin-top: 10px;
                            .r-img{
                                border: 2px solid white;
                                width: 100px;
                                height: 100px;
                                margin: 2px;
                            }
                            .rating-stars{
                                margin-left: 0px;
                                margin-bottom:10px;  
                                display: block;
                                img{
                                    height: 20px;
                                    width: auto;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

.restaurant-body{
    margin-top: 10px;
}

.info-lable{
    font-weight: bold;
    font-size: 16px;
    color: #2196F3;
}
.info-text{
    font-size: 15px;
    line-height: 20px;
}
.tipo-cucine{
    font-size:16px;

}
.cucin{
    line-height: 1.7;
}
.btn-visita{
    text-align: right;
    margin-bottom: 10px;
    button{
        background-color: #009688;
        &:hover{
            background-color: #00796B;
        }
    }
}

#second-update-row{
    margin-top: 40px;
    .lable{
        font-size: 18px;
    }
}

#update-left{
    .restaurant{
        border-color: $eatbit-blue  !important;
    }
    .btn-visita{
        button{
        background-color: #3F51B5 !important;
        &:hover{
            background-color: #303F9F !important;
        }
    }
    }
}
#update-right{
    .restaurant{
        border-color: #00796B !important;
    }
}

@media (max-width: 767px){
    #update-left{
        padding-right: 0px;
    }
    #update-right{
        padding-left: 0px;
    }
}



/*
Global
============================= */
/*
body{
	font-family:'Source Sans Pro', sans-serif;
	color:#666;
	font-size:16px;
	font-weight: 400;
	  -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p{line-height: 24px}
a{color:#0088cc;}
a:hover{text-decoration: none;}



h1,h2,h3,h4,h5,h6{ 
	font-family:'Source Sans Pro', sans-serif
}

h1{font-size:50px; font-weight: 200; color: #555; margin-bottom: 20px;}
h2{font-size: 30px; font-weight: 300; color:#444; margin: 30px 0}
h3{font-size: 20px; font-weight: 400; margin: 20px 0;}
h4{font-size:18px; font-weight: 400}
*/
//=============================end global

.hide-this
{
    display: none;
};



