@import "components/navbar-index.scss";
@import "components/_utilities.scss";
.jumbotron{
    padding-top:0px;
}


.bg { 
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../img/jumbobackground.jpg') center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 95vh;
    min-height: 600px;
    position: relative;
    
    .wrapper {
            width: 700px;
            min-height: 450px;
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            /* anchor to bottom */
            position: absolute;
            bottom: 0;
            top: 0;
            height: 30%;
            margin-top: auto;
            margin-bottom: auto;
            .input-group {
                .grouping {
                    width: 0px !important;
                }

                .input-group-btn {
                    .btn {
                        min-width: 120px;
                    }
                }
            }

            .input-group-addon:first-child {
                border-right: auto !important;
                border-right-style: solid;
            }

            p {
                color: white;
                text-align: center;
            }

            .name {
                font-size: 80px; 
                font-style: oblique;
            }

            .motto {
                width: 530px;
                height: 100px;
                margin-bottom: 20px;

                p {
                    font-size: 29px;
                    margin-bottom: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-bottom: 0px;
                    display: inline-block;
                }

                p:nth-child(1) {
                    width: 550px;
                    animation: type 2.5s steps(30, end);
                }

                p:nth-child(2) {
                    width: 330px;
                    animation: type 1.5s steps(15, end);
                    animation-delay: 2.5s;
                    animation-fill-mode: backwards; 
                }

                .cursor {
                    position: absolute;
                    font-size: 29px;
                    color: white;
                    animation-name: blink;
                    animation-duration: 1s;
                     /* so in the last iteration it become invisible */
                    animation-fill-mode: forwards;
                    animation-iteration-count: 8;
                }


            }

            @keyframes type { 
              from { width: 0; } 
            } 

            @keyframes blink {
              to { opacity: .0; }
            }

            .most-requested {
                color: white;
                margin-top: 20px;
                
                a {
                    color: white;
                    margin-left: 10px;
                    cursor: pointer;
                    text-decoration: underline;
                    display: inline-block;
                }
            }
            
            .find-out {
                font-weight: 700;
                background-color: transparent;
                color: white;
                border-width: 2px;
                border-style: solid;
                border-radius: 16px;
                border-color: white;
                animation-name: bounce;
                animation-duration: 0.8s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                margin-top: 80px;
            }

            @keyframes bounce {
                to { transform: scale(1.1); }
            }
        }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 90% !important;
        padding-top: 80px;
        
        .name {
            font-size: 65px !important; 
        }
        
        .motto {
            height: 80px;
            
            p, 
            span {
                font-size: 23px !important;
            }
            
            p:nth-child(1) {
                width: 420px !important;                
            }
            
            p:nth-child(2) {
                width: 270px !important;
            }
        }
        
        .find-out {
            margin-top: 100px !important;
        }
    }
    
    .bg {
        .bg-explanation.text-left,
        .bg-explanation.text-right {
            margin-left: auto !important;
            margin-right: auto !important;
            right: 0 !important;
            left: 0 !important;
            text-align: center;
            
            /*disable transform*/
            -o-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -webkit-transform: none !important;
            transform: none !important;
            
            /*disable animations*/
            -webkit-animation: none !important;
            -moz-animation: none !important;
            -o-animation: none !important;
            -ms-animation: none !important;
            animation: none !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 90% !important;
        padding-top: 50px;
        
        .input-group {
            background-color: rgba(248, 248, 248, 0.4);
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            
            .form-control {
                margin-bottom: 5px;
            }
            
            .form-control, 
            .input-group-addon, 
            .input-group-btn {
                display: inline-flex;
                margin-left: 0px;
                margin-right: 0px;
                border-radius: 4px !important;
                width: 100%;
            }
            
            .input-group-btn .btn {
                border-radius: 4px;
                width: 100%;
                /*fixes the -1px margin*/
                margin-left: 0px;
            }
            
            /* hide the span that chains the text inputs to fix margins */
            .grouping {
                display: none;
            }
            
            /* fixes a problem on chrome and opera where the inputs didn't 
            collapse one under another till the page wasn't refreshed */
            .twitter-typeahead {
                display: table !important;
            }
        }
        
        .name {
            font-size: 50px !important; 
        }
        
        .motto {
            width: 95% !important;
            height: 60px !important;
            
            p, 
            span {
                font-size: 16px !important;
                
                /*disable animations*/
                -webkit-animation: none !important;
                -moz-animation: none !important;
                -o-animation: none !important;
                -ms-animation: none !important;
                animation: none !important;
            }
            
            p:nth-child(1) {
                width: 300px !important;
            }
            
            p:nth-child(2) {
                width: 185px !important;
            }
            
            .cursor {
                /* when animation is disabled it may still be visible */
                display: none;
                
                /*disable animations*/
                -webkit-animation: none !important;
                -moz-animation: none !important;
                -o-animation: none !important;
                -ms-animation: none !important;
                animation: none !important;
            }
        }
        
        .find-out {
            margin-top: 45px !important;
        }
    }
}
