@import "components/_navbar-index.scss";
@import "components/_utilities.scss";

.jumbotron{
    background: url('../img/jumbobackground.jpg') center top no-repeat;background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    
    .jumbo-text-container{
        color: #fff;
        .name{
            font-family: 'Exo 2', sans-serif;
        }
        h1{
            font-size: 70px;
        }   
    }
    .input-thumbnail{
        display: inline-block;
        width: 50%;
        border: 0px;
        background-color: rgba(248, 248, 248, 0.3) !important;
        padding: 15px 15px;
        min-width: 270px; 
        margin-bottom: 0px;
        .jumbo-textbox-container{
            
            margin-bottom: 0px;
            .sapce-top{
                margin-top: 8px;
            }  
        }
        .jumbo-button-container{
            padding-top: 10px;
        }
    }
    
}


