@import "components/colors.scss";

#header{
    margin-top: 40px;
    margin-bottom: 30px;
}
#restaurant-name{
    margin-top: 10px; 
    img{
        height: 100px;
        width: auto;
        text-align: center;
        padding-bottom: 20px; 
    }
    h1{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 5px;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        color:#555;
        font-size: 40px;
        @media (max-width: 500px){
            font-size: 32px;
        }
    }
    hr{
        margin-top: 0px;
        border-color: #DDD; 
    }
}

#restaurant-profile-pic{
    width: 200px;
    height: 200px;
}
.informazioni{
    text-align: center;
    #tipi-di-cucina{
        font-size: 16px;
    }
}

.rating-stars{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:10px;  
    display: block !important;
    img{
        height: 20px;
        width: auto;
    }
}

#informazioni-orario{
    #bold{
        font-weight: bold;
        color: darken(#428bca, 6.5%);
        margin-top: 30px;
    }
    #classifica{
        color: darken(#428bca, 6.5%);
        font-weight: bold;
    }
    #info-apertura{
        font-size: 16px;
    }
    p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    text-align: right;
}
@media (max-width: 991px){
    #informazioni-orario{
        text-align: center;
        padding-top: 0px;
         #bold{
             margin-top: 0px;
         }
    }
    #restaurant-profile-pic{
         display:block;
        margin-left:auto;
        margin-right:auto;
    }
}

/*--------------------Slider CSS -----------------------*/
/*-------------------------------------------------------
---------------------------------------------------------*/
.slider-pro {
    font-family: 'Open Sans', Arial;
}



/* Example 3 */

#example3 .sp-selected-thumbnail {
	border: 2px solid #999;
}
#example3{
	border: 5px solid #fff;
    box-shadow: 0px 0px 5px 1px #999;
    background-color: #888;
}
.sp-thumbnails{
    margin-bottom: 10px;
}
/*---------------------END Slider CSS ----------------------*/
/*----------------------------------------------------------*/

#button-container{
    margin-top: 15px;
}
#button-rec-foto{
    text-align: right;
    .btn-config{
        margin-top: 10px;
        width: 230px;
    }
}
#btn-pubblica{
    margin-top: 10px;
    text-align: right;
}

.rating-lb{
    font-size: 16px;
}
.rating-bar{
    margin-left: 20px;
    margin-top: 5px;
    width: 300px;
    float: left;
}
.rating-value{
    margin-left: 20px;
    background-color: #F5F5F5; 
    float: left;
    border:0; 
    font-weight:bold;
    display: block;
}
#recensione-title{
    width: 100%;
}
#AddFoto-FileInput{
    margin-top: 5px; 
}
#btn-upload{
    text-align: right;
}
@media (max-width: 991px){
    #button-rec-foto{
        text-align: center;
    }
    #btn-upload{
        margin-top: 10px;
        text-align: center;
    }
    #btn-pubblica{
        text-align: center;
    }
}

@media (max-width: 385px){
    .rating-bar{
        width: 250px;
    }
}
@media (max-width: 345px){
    .rating-bar{
        width: 200px;
    }
}
@media (max-width: 290px){
    .rating-bar{
        width: 100px;
    }
}

.contenitori-blocco{
    margin-top: 60px;
    img{
        height: 70px;
        width: auto;
        text-align: center;
    }
    h1{
       font-family:'Source Sans Pro', sans-serif;
        color:#666;
        text-align: center;
    }
    hr{
        border-color: #DDD; 
    }
}

#recensioni-container{
    //datatable css
    .dataTables_wrapper table thead{
       display:none !important;
    }
    table{
        border: 0px;
    }
    td{
        background-color: #fff !important;
        border: 0px;
    }
    .comment{
        margin-top: 25px;
        border: 5px solid #fff;
        box-shadow: 0px 0px 5px 1px #999;
        background-color: $eatbit-red;
        color: white;
        .container-fluid{
            padding-right: 5px;
            padding-left: 5px;
            .row{
                .comment-writer{
                    //background-color: red;
                    text-align: center;
                    margin-top: 10px;
                    .img-circle{
                        width: 80px;
                        height: 80px;
                        margin: 2px;
                    }
                    .comment-data{
                        color: #fff;
                        font-size: 12px;
                    }
                    .thumbnail{
                                    
                        max-width: 100px;
                        max-height: 100px;
                        width: auto;
                        height: auto;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 0px;
                        margin-bottom: 5px;
                        padding: 2px;
                        img{
                            width:auto;
                            height: auto;
                        }
                    }
                    .btn-segnala-photo-recensione{
                        margin-bottom: 3px;
                        font-size: 12px;
                        color: #fff;
                    }
                }
                .comment-content{
                    padding-bottom: 5px;
                    .btn-segnala-review{
                        border: 1px solid #fff;
                        float: right;
                        margin-top: 10px;
                        background-color: $eatbit_red;
                        &:enabled{
                            &:hover{
                                background-color: #C70039  ;
                            }
                        }
                    }
                    .comment-title{
                        margin-top: 15px;
                        margin-bottom: 5px;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .comment-text{
                        font-size: 13px;
                    }
                    .risposta-admin{
                        border: 1px solid #fff;
                        border-radius: 20px;
                        padding: 10px;
                        margin-bottom: 10px;
                        .lb{
                            text-align: right;
                            @media (max-width: 991px){
                                text-align: left;
                            }
                        }
                        .risposta-text{
                            font-size: 12px;
                        }
                        .risposta-autore,.risposta-date{
                            text-align: right;
                            font-size: 12px;   
                        }
                        .risposta-autore{
                            font-weight: bold;
                            margin-bottom: 0px;
                        }
                    }
                    .rating-stars{
                        margin-left: 0px;
                        margin-bottom:10px;  
                        display: block;
                        img{
                            height: 20px;
                            width: auto;
                        }
                    }
                    p{
                        text-align: justify;
                    }
                    .btn-mi-piace,.btn-non-mi-piace{
                        background-color: $eatbit_red;
                        border: 1px solid #fff;
                        //&:hover{
                            //  background-color: #C70039  ;
                        //}
                        &:enabled{
                            &:hover{
                                background-color: #C70039  ;
                            }
                        }
                        @media (max-width: 405px){
                            margin-top: 2px;
                            width: 150px;
                        }
                        @media (max-width: 430px){
                            font-size: 12px;
                        }
                    }
                    .comment-nome-ristorante{
                        float: right;
                        margin-top: 5px;
                        a{
                            color: #FFC300;
                            font-weight: bold;
                        }   
                    }
                }
            }
        }
    }
}

//-------------------google MAP CSS ----------------------
#map{
    height: 400px;
    width: 100%;
    border: 10px solid #fff;
    box-shadow: 0px 0px 5px 1px #999;
}
//-------------------END google MAP CSS ----------------------

#dettagli-container{
    .dettagli-lable{
        font-weight: bold;
        margin-top: 0px;
    }
    #punteggi-riassunto{
        .rating-stars{
            margin-left: 0px;
            margin-bottom:10px;  
            display: block;
            img{
                height: 20px;
                width: auto;
            }
        }
    }
    #cucina{
        .tipi-di-cucina{
            font-size: 18px;
        }
    }
    #qr-code{
        #qr-code-img{
            height: 150px;
            width: 150px;

        }
    }

}

