@import "components/colors.scss";

#header{
    margin-top: 10px;
    margin-bottom: 0px;
}
#restaurant-name{
    img{
        height: 100px;
        width: auto;
        text-align: center;
        padding-bottom: 20px; 
    }
    h1{
        text-align: center;
        font-weight: bold; 
        margin-top: 0px;
        margin-bottom: 5px;
        font-family: 'Raleway', sans-serif;
        color:#555;
        font-size: 40px;
    }
    hr{
        margin-top: 0px;
        border-color: #DDD; 
    }
}

#restaurant-profile-pic{
    width: 200px;
    height: 200px;
}
.informazioni{
    text-align: center;
    #tipi-di-cucina{
        font-size: 16px;
    }
}

.rating-stars{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:10px;  
    display: block !important;
    img{
        height: 20px;
        width: auto;
    }
}

#informazioni-orario{
    #bold{
        font-weight: bold;
        color: darken(#428bca, 6.5%);
        margin-top: 70px;
    }
    #classifica{
        color: darken(#428bca, 6.5%);
        font-weight: bold;
    }
    #info-apertura{
        font-size: 16px;
    }
    text-align: right;
    line-height: 10px;
}
@media (max-width: 991px){
    #informazioni-orario{
        text-align: center;
        padding-top: 0px;
         #bold{
             margin-top: 0px;
         }
    }
    #restaurant-profile-pic{
         display:block;
        margin-left:auto;
        margin-right:auto;
    }
}

/*--------------------Slider CSS -----------------------*/
/*-------------------------------------------------------
---------------------------------------------------------*/
/* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        */

        #jssor_1{
            border: 10px solid #fff;
            box-shadow: 0px 0px 5px 1px #999;
            -webkit-box-shadow: 0px 0px 5px 1px #999;
            -moz-box-shadow: 0px 0px 5px 1px #999;
        }


        .jssora05l, .jssora05r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url('../img/a17.png') no-repeat;
            overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }

        /* jssor slider thumbnail navigator skin 01 css */
        /*
        .jssort01-99-66 .p            (normal)
        .jssort01-99-66 .p:hover      (normal mouseover)
        .jssort01-99-66 .p.pav        (active)
        .jssort01-99-66 .p.pdn        (mousedown)
        */
        .jssort01-99-66 .p {
            position: absolute;
            top: 0;
            left: 0;
            width: 99px;
            height: 66px;
        }
        
        .jssort01-99-66 .t {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
        
        .jssort01-99-66 .w {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
        
        .jssort01-99-66 .c {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 95px;
            height: 62px;
            border: #000 2px solid;
            box-sizing: content-box;
            background: url('../img/t01.png') -800px -800px no-repeat;
            _background: none;
        }
        
        .jssort01-99-66 .pav .c {
            top: 2px;
            _top: 0px;
            left: 2px;
            _left: 0px;
            width: 95px;
            height: 62px;
            border: #000 0px solid;
            _border: #fff 2px solid;
            background-position: 50% 50%;
        }
        
        .jssort01-99-66 .p:hover .c {
            top: 0px;
            left: 0px;
            width: 97px;
            height: 64px;
            border: #fff 1px solid;
            background-position: 50% 50%;
        }
        
        .jssort01-99-66 .p.pdn .c {
            background-position: 50% 50%;
            width: 95px;
            height: 62px;
            border: #000 2px solid;
        }
        
        * html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {
            /* ie quirks mode adjust */
            width /**/: 99px;
            height /**/: 66px;
        }
/*---------------------END Slider CSS ----------------------*/
/*----------------------------------------------------------*/

#button-container{
    margin-top: 15px;
}
#button-rec-foto{
    text-align: right;
    .btn-config{
        margin-top: 10px;
        width: 230px;
    }
}
#collapseAddRecensione{
    #btn-pubblica{
        margin-top: 10px;
        text-align: right;
    }
}

.rating-lb{
    font-size: 16px;
}
.rating-bar{
    margin-left: 20px;
    margin-top: 5px;
    width: 300px;
    float: left;
}
.rating-value{
    margin-left: 20px;
    background-color: #F5F5F5; 
    float: left;
    border:0; 
    font-weight:bold;
    display: block;
}
#recensione-title{
    width: 100%;
}

#btn-upload{
    text-align: right;
}
@media (max-width: 991px){
    #button-rec-foto{
        text-align: center;
    }
    #btn-upload{
        margin-top: 10px;
    }
}

.contenitori-blocco{
    margin-top: 60px;
    img{
        height: 70px;
        width: auto;
        text-align: center;
    }
    h1{
       font-family:'Source Sans Pro', sans-serif;
        color:#666;
        text-align: center;
    }
    hr{
        border-color: #DDD; 
    }
}

#recensioni-container{
    //datatable css
    .dataTables_wrapper table thead{
       display:none !important;
    }
    table{
        border: 0px;
    }
    td{
        background-color: #fff !important;
        border: 0px;
    }
    .comment{
        margin-top: 25px;
        border: 5px solid #fff;
        box-shadow: 0px 0px 5px 1px #999;
        background-color: $eatbit-red;
        color: white;
        .container-fluid{
            padding-right: 5px;
            padding-left: 5px;
            .row{
                .comment-writer{
                    //background-color: red;
                    text-align: center;
                    margin-top: 10px;
                    img{
                        border: 2px solid white;
                        width: 80px;
                        height: 80px;
                        margin: 2px;
                    }
                    .comment-data{
                        color: #fff;
                    }
                }
                .comment-content{
                    padding-bottom: 5px;
                    .comment-nome-ristorante{
                        text-align: right;
                        a{
                            color: #FFC300;
                        }   
                    }
                    .comment-title{
                        margin-top: 15px;
                        margin-bottom: 5px;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .comment-text{
                        font-size: 13px;
                    }
                    .risposta-admin{
                        border: 1px solid #fff;
                        border-radius: 20px;
                        padding: 10px;
                        margin-bottom: 10px;
                        .lb{
                            text-align: right;
                            @media (max-width: 991px){
                                text-align: left;
                            }
                        }
                        .risposta-text{
                            font-size: 12px;
                        }
                        .risposta-autore,.risposta-date{
                            text-align: right;
                            font-size: 12px;   
                        }
                        .risposta-autore{
                            font-weight: bold;
                            margin-bottom: 0px;
                        }
                    }
                    .rating-stars{
                        margin-left: 0px;
                        margin-bottom:10px;  
                        display: block;
                        img{
                            height: 20px;
                            width: auto;
                        }
                    }
                    p{
                        text-align: justify;
                    }
                    .btn-mi-piace{
                        border: 1px solid #fff;
                        .badge{
                            background-color: $eatbit_red;
                        }
                    }
                    .btn-non-mi-piace{
                        background-color: $eatbit_red;
                        border: 1px solid #fff;
                        &:hover{
                            background-color: #C70039  ;
                        }
                    }
                }
            }
        }
    }
}

//-------------------google MAP CSS ----------------------
#map{
    height: 400px;
    width: 100%;
    border: 10px solid #fff;
    box-shadow: 0px 0px 5px 1px #999;
}
//-------------------END google MAP CSS ----------------------

#dettagli-container{
    .dettagli-lable{
        font-weight: bold;
        margin-top: 0px;
    }
    #punteggi-riassunto{
        .rating-stars{
            margin-left: 0px;
            margin-bottom:10px;  
            display: block;
            img{
                height: 20px;
                width: auto;
            }
        }
    }
    #cucina{
        .tipi-di-cucina{
            font-size: 18px;
        }
    }

}

