/* line 1, ../scss/components/_utilities.scss */
.horizontally-centered {
  margin-left: auto !important;
  margin-right: auto !important;
  right: 0 !important;
  left: 0 !important;
  text-align: center;
}

/* line 9, ../scss/components/_utilities.scss */
.drag-select-disabled {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* line 19, ../scss/components/_utilities.scss */
.no-border {
  border: 0px;
}

/* line 4, ../scss/index.scss */
.jumbotron {
  background: url("../img/jumbobackground.jpg") center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}
/* line 11, ../scss/index.scss */
.jumbotron .jumbo-text-container {
  color: #fff;
}
/* line 13, ../scss/index.scss */
.jumbotron .jumbo-text-container .name {
  font-family: 'Exo 2', sans-serif;
}
/* line 16, ../scss/index.scss */
.jumbotron .jumbo-text-container h1 {
  font-size: 70px;
}
/* line 20, ../scss/index.scss */
.jumbotron .input-thumbnail {
  display: inline-block;
  width: 50%;
  border-color: #B6B6B6;
  background-color: rgba(248, 248, 248, 0.3) !important;
  padding: 15px 15px;
  min-width: 270px;
  margin-bottom: 0px;
}
/* line 28, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-textbox-container {
  margin-bottom: 0px;
}
/* line 31, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-textbox-container .sapce-top {
  margin-top: 8px;
}
/* line 35, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-button-container {
  padding-top: 10px;
}
/* line 37, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-button-container .btn-block {
  background-color: #C70039;
  color: #fff;
  border: 1px solid #fff;
}
/* line 41, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-button-container .btn-block:hover {
  background-color: #e62739;
}
/* line 46, ../scss/index.scss */
.jumbotron .input-thumbnail form {
  margin-bottom: 0px;
}

/* line 54, ../scss/index.scss */
#last-update #info-box {
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
  padding: 0px 20px;
  padding-bottom: 5px;
  text-align: center;
}
/* line 61, ../scss/index.scss */
#last-update #updates {
  padding: 10px 10px;
}
/* line 63, ../scss/index.scss */
#last-update #updates .update {
  padding: 0px;
  padding-top: 20px;
}
/* line 66, ../scss/index.scss */
#last-update #updates .update .update-head-img {
  padding-bottom: 10px;
}
/* line 68, ../scss/index.scss */
#last-update #updates .update .update-head-img img {
  height: 100px;
  width: auto;
  text-align: center;
}
/* line 74, ../scss/index.scss */
#last-update #updates .update .update-body {
  border: 0px;
}
/* line 76, ../scss/index.scss */
#last-update #updates .update .update-body .comment {
  margin-top: 25px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
  background-color: #e62739;
  color: white;
}
/* line 82, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}
/* line 86, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-writer {
  text-align: center;
  margin-top: 10px;
}
/* line 90, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-writer img {
  border: 2px solid white;
  width: 80px;
  height: 80px;
  margin: 2px;
}
/* line 96, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-writer .comment-data {
  color: #fff;
}
/* line 100, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content {
  padding-bottom: 5px;
}
/* line 102, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .comment-nome-ristorante {
  text-align: right;
}
/* line 104, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .comment-nome-ristorante a {
  color: #FFC300;
}
/* line 108, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .comment-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
/* line 114, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .comment-text {
  font-size: 13px;
}
/* line 117, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .risposta-admin {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 122, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .risposta-admin .lb {
  text-align: right;
}
@media (max-width: 991px) {
  /* line 122, ../scss/index.scss */
  #last-update #updates .update .update-body .comment .container-fluid .row .comment-content .risposta-admin .lb {
    text-align: left;
  }
}
/* line 128, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .risposta-admin .risposta-text {
  font-size: 12px;
}
/* line 131, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .risposta-admin .risposta-autore, #last-update #updates .update .update-body .comment .container-fluid .row .comment-content .risposta-admin .risposta-date {
  text-align: right;
  font-size: 12px;
}
/* line 135, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .risposta-admin .risposta-autore {
  font-weight: bold;
  margin-bottom: 0px;
}
/* line 140, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
/* line 144, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .rating-stars img {
  height: 20px;
  width: auto;
}
/* line 149, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content p {
  text-align: justify;
}
/* line 152, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .btn-mi-piace, #last-update #updates .update .update-body .comment .container-fluid .row .comment-content .btn-non-mi-piace {
  background-color: #e62739;
  border: 1px solid #fff;
}
/* line 159, ../scss/index.scss */
#last-update #updates .update .update-body .comment .container-fluid .row .comment-content .btn-mi-piace:enabled:hover, #last-update #updates .update .update-body .comment .container-fluid .row .comment-content .btn-non-mi-piace:enabled:hover {
  background-color: #C70039;
}
/* line 168, ../scss/index.scss */
#last-update #updates .update .update-body .restaurant {
  margin-top: 15px;
  box-shadow: 10px 10px 5px #dedede;
  border: 1px solid #dedede;
}
/* line 173, ../scss/index.scss */
#last-update #updates .update .update-body .restaurant .row .restaurant-title {
  text-align: center;
  margin-top: 10px;
}
/* line 176, ../scss/index.scss */
#last-update #updates .update .update-body .restaurant .row .restaurant-title .r-img {
  border: 2px solid white;
  width: 100px;
  height: 100px;
  margin: 2px;
}
/* line 182, ../scss/index.scss */
#last-update #updates .update .update-body .restaurant .row .restaurant-title .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
/* line 186, ../scss/index.scss */
#last-update #updates .update .update-body .restaurant .row .restaurant-title .rating-stars img {
  height: 20px;
  width: auto;
}

/* line 200, ../scss/index.scss */
.restaurant-body {
  margin-top: 10px;
}

/* line 204, ../scss/index.scss */
.info-lable {
  font-weight: bold;
  font-size: 16px;
  color: #2196F3;
}

/* line 209, ../scss/index.scss */
.info-text {
  font-size: 15px;
}

/* line 212, ../scss/index.scss */
.btn-visita {
  text-align: right;
  margin-bottom: 10px;
}
/* line 215, ../scss/index.scss */
.btn-visita button {
  background-color: #009688;
}
/* line 217, ../scss/index.scss */
.btn-visita button:hover {
  background-color: #00796B;
}

/* line 223, ../scss/index.scss */
#second-update-row {
  margin-top: 40px;
}

/* line 227, ../scss/index.scss */
#update-left {
  padding-right: 20px;
}
/* line 229, ../scss/index.scss */
#update-left .restaurant {
  border-color: #3f51b5 !important;
}
/* line 233, ../scss/index.scss */
#update-left .btn-visita button {
  background-color: #3F51B5 !important;
}
/* line 235, ../scss/index.scss */
#update-left .btn-visita button:hover {
  background-color: #303F9F !important;
}

/* line 241, ../scss/index.scss */
#update-right {
  padding-left: 20px;
}
/* line 243, ../scss/index.scss */
#update-right .restaurant {
  border-color: #00796B !important;
}

@media (max-width: 767px) {
  /* line 249, ../scss/index.scss */
  #update-left {
    padding-right: 0px;
  }

  /* line 252, ../scss/index.scss */
  #update-right {
    padding-left: 0px;
  }
}
/*
Global
============================= */
/*
body{
	font-family:'Source Sans Pro', sans-serif;
	color:#666;
	font-size:16px;
	font-weight: 400;
	  -webkit-font-smoothing: antialiased;
     font-smoothing: antialiased;
}

* {
     text-shadow: 0 1px 1px rgba(255,255,255,.3);
}

p{line-height: 24px}
a{color:#0088cc;}
a:hover{text-decoration: none;}



h1,h2,h3,h4,h5,h6{ 
	font-family:'Source Sans Pro', sans-serif
}

h1{font-size:50px; font-weight: 200; color: #555; margin-bottom: 20px;}
h2{font-size: 30px; font-weight: 300; color:#444; margin: 30px 0}
h3{font-size: 20px; font-weight: 400; margin: 20px 0;}
h4{font-size:18px; font-weight: 400}
*/
/* line 294, ../scss/index.scss */
.hide-this {
  display: none;
}
