/* line 2, ../scss/components/_navbar-index.scss */
#nav-search-bar {
  display: none;
}

/*
#not-logged{
    display: none;
}
*/
/* line 1, ../scss/components/_utilities.scss */
.horizontally-centered {
  margin-left: auto !important;
  margin-right: auto !important;
  right: 0 !important;
  left: 0 !important;
  text-align: center;
}

/* line 9, ../scss/components/_utilities.scss */
.drag-select-disabled {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* line 19, ../scss/components/_utilities.scss */
.no-border {
  border: 0px;
}

/* line 4, ../scss/index.scss */
.jumbotron {
  background: url("../img/jumbobackground.jpg") center top no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}
/* line 11, ../scss/index.scss */
.jumbotron .jumbo-text-container {
  color: #fff;
}
/* line 13, ../scss/index.scss */
.jumbotron .jumbo-text-container .name {
  font-family: 'Exo 2', sans-serif;
}
/* line 16, ../scss/index.scss */
.jumbotron .jumbo-text-container h1 {
  font-size: 70px;
}
/* line 20, ../scss/index.scss */
.jumbotron .input-thumbnail {
  display: inline-block;
  width: 50%;
  border: 0px;
  background-color: rgba(248, 248, 248, 0.3) !important;
  padding: 15px 15px;
  min-width: 270px;
  margin-bottom: 0px;
}
/* line 28, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-textbox-container {
  margin-bottom: 0px;
}
/* line 31, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-textbox-container .sapce-top {
  margin-top: 8px;
}
/* line 35, ../scss/index.scss */
.jumbotron .input-thumbnail .jumbo-button-container {
  padding-top: 10px;
}

/* line 42, ../scss/index.scss */
.info-box {
  padding: 0px 20px;
  padding-bottom: 5px;
  text-align: center;
}
