/* line 4, ../scss/components/_navbar-default.scss */
.eatbit-logo {
  height: 31px;
  width: 30px;
}

/* line 8, ../scss/components/_navbar-default.scss */
.eatbit-brand {
  padding-left: 10px;
}

/* line 11, ../scss/components/_navbar-default.scss */
.navbar-extra-width {
  padding-bottom: 8px;
  padding-top: 8px;
}

/* line 18, ../scss/components/_navbar-default.scss */
.navbar-default .navbar-brand {
  color: #fff !important;
  font-family: 'Exo 2', sans-serif;
  font-size: 30px;
}
/* line 24, ../scss/components/_navbar-default.scss */
.navbar-default .navbar-toggle {
  color: #fff !important;
  border-color: #fff !important;
}
/* line 28, ../scss/components/_navbar-default.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}
/* line 32, ../scss/components/_navbar-default.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #fff !important;
}
/* line 34, ../scss/components/_navbar-default.scss */
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #e62739 !important;
}

              /*.navbar-fixed-top {
//top: -70px; /* you'll have to figure out the exact number here */
  /*position: relative;
}*/
/* line 49, ../scss/components/_navbar-default.scss */
.navbar {
  font-family: 'Open Sans', sans-serif !important;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #e62739;
  min-width: 400px;
  position: static;
  width: 100%;
  margin-bottom: 0px;
  z-index: 3;
  /* remove a visible border on chrome */
  border-radius: 0px;
  border: 0px !important;
}
/* line 63, ../scss/components/_navbar-default.scss */
.navbar .navbar-brand:focus {
  outline: 0;
}
/* line 68, ../scss/components/_navbar-default.scss */
.navbar #not-logged li > a {
  color: #fff;
}
/* line 70, ../scss/components/_navbar-default.scss */
.navbar #not-logged li > a:hover {
  color: #b3c2bf;
}
/* line 73, ../scss/components/_navbar-default.scss */
.navbar #not-logged li > a:focus {
  outline: 0;
}
/* line 77, ../scss/components/_navbar-default.scss */
.navbar #not-logged .btn {
  margin: 8px 15px;
}
/* line 79, ../scss/components/_navbar-default.scss */
.navbar #not-logged .btn:focus {
  outline: 0;
}
/* line 84, ../scss/components/_navbar-default.scss */
.navbar #logged {
  margin-top: 8px;
}
/* line 87, ../scss/components/_navbar-default.scss */
.navbar #logged .dropdown .dropdown-menu {
  padding-top: 0px !important;
}
/* line 89, ../scss/components/_navbar-default.scss */
.navbar #logged .dropdown .dropdown-menu .user-thumbnail {
  text-align: center;
}
/* line 91, ../scss/components/_navbar-default.scss */
.navbar #logged .dropdown .dropdown-menu .user-thumbnail img {
  width: 80px;
  height: 80px;
}

@media (max-width: 767px) {
  /* line 103, ../scss/components/_navbar-default.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  /* line 108, ../scss/components/_navbar-default.scss */
  .navbar-default .navbar-collapse .navbar-form {
    border-top: 0px;
  }
  /* line 111, ../scss/components/_navbar-default.scss */
  .navbar-default .navbar-collapse .btn {
    width: 100%;
  }
  /* line 115, ../scss/components/_navbar-default.scss */
  .navbar-default .navbar-collapse #not-logged .btn {
    margin: 8px 0px;
  }
  /* line 118, ../scss/components/_navbar-default.scss */
  .navbar-default .navbar-collapse #not-logged .navbar-link {
    text-align: center;
  }
  /* line 123, ../scss/components/_navbar-default.scss */
  .navbar-default .navbar-collapse .dropdown-menu li {
    text-align: center;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 132, ../scss/components/_navbar-default.scss */
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
}
/* line 2, ../scss/components/_login-register.scss */
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 13, ../scss/components/_login-register.scss */
.animated.hinges {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 20, ../scss/components/_login-register.scss */
.animated.slow {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}

/* line 27, ../scss/components/_login-register.scss */
.animated.snail {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes shake {
  /* line 35, ../scss/components/_login-register.scss */
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  /* line 36, ../scss/components/_login-register.scss */
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
  }

  /* line 37, ../scss/components/_login-register.scss */
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
  }
}

@-moz-keyframes shake {
  /* line 41, ../scss/components/_login-register.scss */
  0%, 100% {
    -moz-transform: translateX(0);
  }

  /* line 42, ../scss/components/_login-register.scss */
  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px);
  }

  /* line 43, ../scss/components/_login-register.scss */
  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px);
  }
}

@-o-keyframes shake {
  /* line 47, ../scss/components/_login-register.scss */
  0%, 100% {
    -o-transform: translateX(0);
  }

  /* line 48, ../scss/components/_login-register.scss */
  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px);
  }

  /* line 49, ../scss/components/_login-register.scss */
  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px);
  }
}

@keyframes shake {
  /* line 53, ../scss/components/_login-register.scss */
  0%, 100% {
    transform: translateX(0);
  }

  /* line 54, ../scss/components/_login-register.scss */
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  /* line 55, ../scss/components/_login-register.scss */
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/* line 58, ../scss/components/_login-register.scss */
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}

/* line 65, ../scss/components/_login-register.scss */
.login .modal-dialog {
  min-width: 350px;
  width: 40%;
}

/* line 69, ../scss/components/_login-register.scss */
.login .modal-footer {
  border-top: 0;
  margin-top: 0px;
  padding: 10px 20px 20px;
  padding-top: 0px;
}

/* line 75, ../scss/components/_login-register.scss */
.login .modal-header {
  border: 0 none;
  padding: 15px 15px 15px;
  margin-left: 10%;
  /*     padding: 11px 15px; */
}

/* line 81, ../scss/components/_login-register.scss */
.login .modal-body {
  /*     background-color: #eeeeee; */
  width: 80%;
  margin-left: 10% !important;
  margin-right: 10% !important;
}
/* line 86, ../scss/components/_login-register.scss */
.login .modal-body .help-block {
  text-align: right;
}
/* line 89, ../scss/components/_login-register.scss */
.login .modal-body .from-group > label {
  text-align: left;
}

/* line 93, ../scss/components/_login-register.scss */
.login .division {
  float: none;
  margin: 0 auto 10px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

/* line 102, ../scss/components/_login-register.scss */
.login .division .line {
  border-top: 1px solid #DFDFDF;
  position: absolute;
  top: 10px;
  width: 34%;
}

/* line 108, ../scss/components/_login-register.scss */
.login .division .line.l {
  left: 0;
}

/* line 111, ../scss/components/_login-register.scss */
.login .division .line.r {
  right: 0;
}

/* line 114, ../scss/components/_login-register.scss */
.login .division span {
  color: #424242;
  font-size: 17px;
}

/* line 119, ../scss/components/_login-register.scss */
.login .forgot {
  color: #797979;
  margin-left: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

/* line 126, ../scss/components/_login-register.scss */
.login .btn-login, .registerBox .btn-register {
  background-color: #337ab7;
  border-color: #337ab7;
  border-width: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin: 0 auto;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}

/* line 139, ../scss/components/_login-register.scss */
.login .btn-login:hover, .registerBox .btn-register:hover {
  background-color: #286090;
  color: #FFFFFF;
}

/* line 143, ../scss/components/_login-register.scss */
.login .form-control {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0) inset;
  color: #FFFFFF;
}

/* line 149, ../scss/components/_login-register.scss */
.login .form-control:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* line 152, ../scss/components/_login-register.scss */
.login .form-control:focus {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0) inset;
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
}

/* line 157, ../scss/components/_login-register.scss */
.login .box .form input[type="text"], .login .box .form input[type="password"] {
  border-radius: 3px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 46px;
  margin-bottom: 5px;
  padding: 13px 12px;
  width: 100%;
}

@media (max-width: 400px) {
  /* line 171, ../scss/components/_login-register.scss */
  .login .modal-dialog {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 177, ../scss/components/_login-register.scss */
  .login .modal-dialog {
    margin: 30px auto;
  }
}
/* line 182, ../scss/components/_login-register.scss */
.big-login, .big-register {
  background-color: #00bbff;
  color: #FFFFFF;
  border-radius: 7px;
  border-width: 2px;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  padding: 16px 60px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

/* line 194, ../scss/components/_login-register.scss */
.big-login:hover {
  background-color: #00A4E4;
  color: #FFFFFF;
}

/* line 198, ../scss/components/_login-register.scss */
.big-register {
  background-color: rgba(0, 0, 0, 0);
  color: #00bbff;
  border-color: #00bbff;
}

/* line 203, ../scss/components/_login-register.scss */
.big-register:hover {
  border-color: #00A4E4;
  color: #00A4E4;
}

/*
    //footer css
*/
/* line 8, ../scss/main.scss */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin-top: 80px;
  overflow: hidden;
}

/* Footer left */
/* line 23, ../scss/main.scss */
.footer-distributed .footer-left {
  float: left;
}

/* The company logo */
/* line 29, ../scss/main.scss */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0 0 10px;
}

/* line 35, ../scss/main.scss */
.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */
/* line 41, ../scss/main.scss */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

/* line 47, ../scss/main.scss */
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

/* line 54, ../scss/main.scss */
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */
/* line 63, ../scss/main.scss */
.footer-distributed .footer-icons {
  margin-top: 40px;
}

/* line 67, ../scss/main.scss */
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */
/* line 86, ../scss/main.scss */
.footer-distributed .footer-right {
  float: right;
}

/* line 90, ../scss/main.scss */
.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

/* The contact form */
/* line 99, ../scss/main.scss */
.footer-distributed form {
  display: inline-block;
}

/* line 104, ../scss/main.scss */
.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;
  width: 400px;
  padding: 18px;
}

/* line 122, ../scss/main.scss */
.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

/* line 126, ../scss/main.scss */
.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

/* line 131, ../scss/main.scss */
.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

/* line 136, ../scss/main.scss */
.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

/* line 141, ../scss/main.scss */
.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

/* line 146, ../scss/main.scss */
.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 1000px) {
  /* line 160, ../scss/main.scss */
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  /* line 164, ../scss/main.scss */
  .footer-distributed .footer-company-name {
    font-size: 12px;
  }

  /* line 169, ../scss/main.scss */
  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  /* line 173, ../scss/main.scss */
  .footer-distributed form button {
    padding: 10px 35px;
  }
}
@media (max-width: 800px) {
  /* line 181, ../scss/main.scss */
  .footer-distributed {
    padding: 30px;
  }

  /* line 186, ../scss/main.scss */
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  /* line 192, ../scss/main.scss */
  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }

  /* line 196, ../scss/main.scss */
  .footer-distributed form {
    margin-top: 30px;
  }

  /* line 200, ../scss/main.scss */
  .footer-distributed form {
    display: block;
  }

  /* line 204, ../scss/main.scss */
  .footer-distributed form button {
    float: none;
  }
}
