/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 20, 2016, 5:38:18 PM
    Author     : andrei
*/

.boxes{
    
}

.hid {
    visibility: hidden;
}

.boxx{
    height: 40px;
    width: 50px;
}

select {
    min-width:65px;
    min-height: 35px;
    border-width: 3px;
    border-color: rgba(50, 50, 50, 0.14);
    margin: 10px 10px 10px 0px;
}