/* line 3, ../scss/restaurant.scss */
#header {
  margin-top: 40px;
  margin-bottom: 30px;
}

/* line 7, ../scss/restaurant.scss */
#restaurant-name {
  margin-top: 10px;
}
/* line 9, ../scss/restaurant.scss */
#restaurant-name img {
  height: 80px;
  width: auto;
  text-align: center;
  padding-bottom: 20px;
}
/* line 15, ../scss/restaurant.scss */
#restaurant-name h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #555;
}
@media (max-width: 500px) {
  /* line 15, ../scss/restaurant.scss */
  #restaurant-name h1 {
    font-size: 32px;
  }
}
/* line 27, ../scss/restaurant.scss */
#restaurant-name hr {
  margin-top: 0px;
  border-color: #DDD;
}

/* line 33, ../scss/restaurant.scss */
#restaurant-profile-pic {
  width: 200px;
  height: 200px;
}

/* line 37, ../scss/restaurant.scss */
.informazioni {
  text-align: center;
}
/* line 39, ../scss/restaurant.scss */
.informazioni #tipi-di-cucina {
  font-size: 16px;
}

/* line 44, ../scss/restaurant.scss */
.rating-stars {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  display: block !important;
}
/* line 49, ../scss/restaurant.scss */
.rating-stars img {
  height: 20px;
  width: auto;
}

/* line 55, ../scss/restaurant.scss */
#informazioni-orario {
  text-align: right;
}
/* line 56, ../scss/restaurant.scss */
#informazioni-orario #bold {
  font-weight: bold;
  color: #337ab7;
  margin-top: 30px;
}
/* line 61, ../scss/restaurant.scss */
#informazioni-orario #classifica {
  color: #337ab7;
  font-weight: bold;
}
/* line 65, ../scss/restaurant.scss */
#informazioni-orario #info-apertura {
  font-size: 16px;
}
/* line 68, ../scss/restaurant.scss */
#informazioni-orario p {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  /* line 75, ../scss/restaurant.scss */
  #informazioni-orario {
    text-align: center;
    padding-top: 0px;
  }
  /* line 78, ../scss/restaurant.scss */
  #informazioni-orario #bold {
    margin-top: 0px;
  }

  /* line 82, ../scss/restaurant.scss */
  #restaurant-profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*--------------------Slider CSS -----------------------*/
/*-------------------------------------------------------
---------------------------------------------------------*/
/* line 92, ../scss/restaurant.scss */
.slider-pro {
  font-family: 'Open Sans', Arial;
}

/* Example 3 */
/* line 100, ../scss/restaurant.scss */
#example3 .sp-selected-thumbnail {
  border: 2px solid #999;
}

/* line 103, ../scss/restaurant.scss */
#example3 {
  border: 5px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
  background-color: #888;
}

/* line 108, ../scss/restaurant.scss */
.sp-thumbnails {
  margin-bottom: 10px;
}

/*---------------------END Slider CSS ----------------------*/
/*----------------------------------------------------------*/
/* line 114, ../scss/restaurant.scss */
#button-container {
  margin-top: 15px;
}

/* line 117, ../scss/restaurant.scss */
#button-rec-foto {
  text-align: right;
}
/* line 119, ../scss/restaurant.scss */
#button-rec-foto .btn-config {
  margin-top: 10px;
  width: 230px;
}

/* line 124, ../scss/restaurant.scss */
#btn-pubblica {
  margin-top: 10px;
  text-align: right;
}

/* line 129, ../scss/restaurant.scss */
.rating-lb {
  font-size: 16px;
}

/* line 132, ../scss/restaurant.scss */
.rating-bar {
  margin-left: 20px;
  margin-top: 5px;
  width: 300px;
  float: left;
}

/* line 138, ../scss/restaurant.scss */
.rating-value {
  margin-left: 20px;
  background-color: #F5F5F5;
  float: left;
  border: 0;
  font-weight: bold;
  display: block;
}

/* line 146, ../scss/restaurant.scss */
#recensione-title {
  width: 100%;
}

/* line 149, ../scss/restaurant.scss */
#AddFoto-FileInput {
  margin-top: 5px;
}

/* line 152, ../scss/restaurant.scss */
#btn-upload {
  text-align: right;
}

@media (max-width: 991px) {
  /* line 156, ../scss/restaurant.scss */
  #button-rec-foto {
    text-align: center;
  }

  /* line 159, ../scss/restaurant.scss */
  #btn-upload {
    margin-top: 10px;
    text-align: center;
  }

  /* line 163, ../scss/restaurant.scss */
  #btn-pubblica {
    text-align: center;
  }
}
@media (max-width: 385px) {
  /* line 169, ../scss/restaurant.scss */
  .rating-bar {
    width: 250px;
  }
}
@media (max-width: 345px) {
  /* line 174, ../scss/restaurant.scss */
  .rating-bar {
    width: 200px;
  }
}
@media (max-width: 290px) {
  /* line 179, ../scss/restaurant.scss */
  .rating-bar {
    width: 100px;
  }
}
/* line 184, ../scss/restaurant.scss */
.contenitori-blocco {
  margin-top: 60px;
}
/* line 186, ../scss/restaurant.scss */
.contenitori-blocco img {
  height: 70px;
  width: auto;
  text-align: center;
}
/* line 191, ../scss/restaurant.scss */
.contenitori-blocco h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
  text-align: center;
}
/* line 196, ../scss/restaurant.scss */
.contenitori-blocco hr {
  border-color: #DDD;
}

/* line 203, ../scss/restaurant.scss */
#recensioni-container .dataTables_wrapper table thead {
  display: none !important;
}
/* line 206, ../scss/restaurant.scss */
#recensioni-container table {
  border: 0px;
}
/* line 209, ../scss/restaurant.scss */
#recensioni-container td {
  background-color: #fff !important;
  border: 0px;
}
/* line 213, ../scss/restaurant.scss */
#recensioni-container .comment {
  margin-top: 25px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
  background-color: #e62739;
  color: white;
}
/* line 219, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}
/* line 223, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer {
  text-align: center;
  margin-top: 10px;
}
/* line 227, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer .img-circle {
  width: 80px;
  height: 80px;
  margin: 2px;
}
/* line 232, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer .comment-data {
  color: #fff;
  font-size: 12px;
}
/* line 236, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer .thumbnail {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 2px;
}
/* line 247, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer .thumbnail img {
  width: auto;
  height: auto;
}
/* line 252, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer .btn-segnala-photo-recensione {
  margin-bottom: 3px;
  font-size: 12px;
  color: #fff;
}
/* line 258, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content {
  padding-bottom: 5px;
}
/* line 260, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .btn-segnala-review {
  border: 1px solid #fff;
  float: right;
  margin-top: 10px;
  background-color: #e62739;
}
/* line 266, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .btn-segnala-review:enabled:hover {
  background-color: #C70039;
}
/* line 271, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
/* line 277, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-text {
  font-size: 13px;
}
/* line 280, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 285, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .lb {
  text-align: right;
}
@media (max-width: 991px) {
  /* line 285, ../scss/restaurant.scss */
  #recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .lb {
    text-align: left;
  }
}
/* line 291, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-text {
  font-size: 12px;
}
/* line 294, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-autore, #recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-date {
  text-align: right;
  font-size: 12px;
}
/* line 298, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-autore {
  font-weight: bold;
  margin-bottom: 0px;
}
/* line 303, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
/* line 307, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .rating-stars img {
  height: 20px;
  width: auto;
}
/* line 312, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content p {
  text-align: justify;
}
/* line 315, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-nome-ristorante {
  float: right;
  margin-top: 5px;
}
/* line 318, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-nome-ristorante a {
  color: #FFC300;
  font-weight: bold;
}
/* line 324, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .btn-mi-piace, #recensioni-container .comment .container-fluid .row .btn-non-mi-piace {
  background-color: #e62739;
  border: 1px solid #fff;
  margin-bottom: 10px;
}
/* line 332, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .btn-mi-piace:enabled:hover, #recensioni-container .comment .container-fluid .row .btn-non-mi-piace:enabled:hover {
  background-color: #C70039;
}
@media (max-width: 405px) {
  /* line 324, ../scss/restaurant.scss */
  #recensioni-container .comment .container-fluid .row .btn-mi-piace, #recensioni-container .comment .container-fluid .row .btn-non-mi-piace {
    margin-top: 2px;
    width: 150px;
  }
}
@media (max-width: 430px) {
  /* line 324, ../scss/restaurant.scss */
  #recensioni-container .comment .container-fluid .row .btn-mi-piace, #recensioni-container .comment .container-fluid .row .btn-non-mi-piace {
    font-size: 12px;
  }
}

/* line 350, ../scss/restaurant.scss */
#map {
  height: 400px;
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
}

/* line 359, ../scss/restaurant.scss */
#dettagli-container .dettagli-lable {
  font-weight: bold;
  margin-top: 0px;
}
/* line 364, ../scss/restaurant.scss */
#dettagli-container #punteggi-riassunto .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
/* line 368, ../scss/restaurant.scss */
#dettagli-container #punteggi-riassunto .rating-stars img {
  height: 20px;
  width: auto;
}
/* line 375, ../scss/restaurant.scss */
#dettagli-container #cucina .tipi-di-cucina {
  font-size: 18px;
}
/* line 380, ../scss/restaurant.scss */
#dettagli-container #qr-code #qr-code-img {
  height: 150px;
  width: 150px;
}
