/* line 3, ../scss/restaurant.scss */
#header {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 8, ../scss/restaurant.scss */
#restaurant-name img {
  height: 100px;
  width: auto;
  text-align: center;
  padding-bottom: 20px;
}
/* line 14, ../scss/restaurant.scss */
#restaurant-name h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  color: #555;
  font-size: 40px;
}
/* line 22, ../scss/restaurant.scss */
#restaurant-name hr {
  margin-top: 0px;
  border-color: #DDD;
}

/* line 28, ../scss/restaurant.scss */
#restaurant-profile-pic {
  width: 200px;
  height: 200px;
}

/* line 32, ../scss/restaurant.scss */
.informazioni {
  text-align: center;
}
/* line 34, ../scss/restaurant.scss */
.informazioni #tipi-di-cucina {
  font-size: 16px;
}

/* line 39, ../scss/restaurant.scss */
.rating-stars {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  display: block !important;
}
/* line 44, ../scss/restaurant.scss */
.rating-stars img {
  height: 20px;
  width: auto;
}

/* line 50, ../scss/restaurant.scss */
#informazioni-orario {
  text-align: right;
  line-height: 10px;
}
/* line 51, ../scss/restaurant.scss */
#informazioni-orario #bold {
  font-weight: bold;
  color: #337ab7;
  margin-top: 70px;
}
/* line 56, ../scss/restaurant.scss */
#informazioni-orario #classifica {
  color: #337ab7;
  font-weight: bold;
}
/* line 60, ../scss/restaurant.scss */
#informazioni-orario #info-apertura {
  font-size: 16px;
}

@media (max-width: 991px) {
  /* line 67, ../scss/restaurant.scss */
  #informazioni-orario {
    text-align: center;
    padding-top: 0px;
  }
  /* line 70, ../scss/restaurant.scss */
  #informazioni-orario #bold {
    margin-top: 0px;
  }

  /* line 74, ../scss/restaurant.scss */
  #restaurant-profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*--------------------Slider CSS -----------------------*/
/*-------------------------------------------------------
---------------------------------------------------------*/
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
/* line 94, ../scss/restaurant.scss */
#jssor_1 {
  border: 10px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
  -webkit-box-shadow: 0px 0px 5px 1px #999;
  -moz-box-shadow: 0px 0px 5px 1px #999;
}

/* line 102, ../scss/restaurant.scss */
.jssora05l, .jssora05r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url("../img/a17.png") no-repeat;
  overflow: hidden;
}

/* line 112, ../scss/restaurant.scss */
.jssora05l {
  background-position: -10px -40px;
}

/* line 113, ../scss/restaurant.scss */
.jssora05r {
  background-position: -70px -40px;
}

/* line 114, ../scss/restaurant.scss */
.jssora05l:hover {
  background-position: -130px -40px;
}

/* line 115, ../scss/restaurant.scss */
.jssora05r:hover {
  background-position: -190px -40px;
}

/* line 116, ../scss/restaurant.scss */
.jssora05l.jssora05ldn {
  background-position: -250px -40px;
}

/* line 117, ../scss/restaurant.scss */
.jssora05r.jssora05rdn {
  background-position: -310px -40px;
}

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01-99-66 .p            (normal)
.jssort01-99-66 .p:hover      (normal mouseover)
.jssort01-99-66 .p.pav        (active)
.jssort01-99-66 .p.pdn        (mousedown)
*/
/* line 126, ../scss/restaurant.scss */
.jssort01-99-66 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 99px;
  height: 66px;
}

/* line 134, ../scss/restaurant.scss */
.jssort01-99-66 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* line 143, ../scss/restaurant.scss */
.jssort01-99-66 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* line 151, ../scss/restaurant.scss */
.jssort01-99-66 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  height: 62px;
  border: #000 2px solid;
  box-sizing: content-box;
  background: url("../img/t01.png") -800px -800px no-repeat;
  _background: none;
}

/* line 163, ../scss/restaurant.scss */
.jssort01-99-66 .pav .c {
  top: 2px;
  _top: 0px;
  left: 2px;
  _left: 0px;
  width: 95px;
  height: 62px;
  border: #000 0px solid;
  _border: #fff 2px solid;
  background-position: 50% 50%;
}

/* line 175, ../scss/restaurant.scss */
.jssort01-99-66 .p:hover .c {
  top: 0px;
  left: 0px;
  width: 97px;
  height: 64px;
  border: #fff 1px solid;
  background-position: 50% 50%;
}

/* line 184, ../scss/restaurant.scss */
.jssort01-99-66 .p.pdn .c {
  background-position: 50% 50%;
  width: 95px;
  height: 62px;
  border: #000 2px solid;
}

/* line 191, ../scss/restaurant.scss */
* html .jssort01-99-66 .c, * html .jssort01-99-66 .pdn .c, * html .jssort01-99-66 .pav .c {
  /* ie quirks mode adjust */
  width: 99px;
  height: 66px;
}

/*---------------------END Slider CSS ----------------------*/
/*----------------------------------------------------------*/
/* line 199, ../scss/restaurant.scss */
#button-container {
  margin-top: 15px;
}

/* line 202, ../scss/restaurant.scss */
#button-rec-foto {
  text-align: right;
}
/* line 204, ../scss/restaurant.scss */
#button-rec-foto .btn-config {
  margin-top: 10px;
  width: 230px;
}

/* line 209, ../scss/restaurant.scss */
#btn-pubblica {
  margin-top: 10px;
  text-align: right;
}

/* line 214, ../scss/restaurant.scss */
.rating-lb {
  font-size: 16px;
}

/* line 217, ../scss/restaurant.scss */
.rating-bar {
  margin-left: 20px;
  margin-top: 5px;
  width: 300px;
  float: left;
}

/* line 223, ../scss/restaurant.scss */
.rating-value {
  margin-left: 20px;
  background-color: #F5F5F5;
  float: left;
  border: 0;
  font-weight: bold;
  display: block;
}

/* line 231, ../scss/restaurant.scss */
#recensione-title {
  width: 100%;
}

/* line 235, ../scss/restaurant.scss */
#btn-upload {
  text-align: right;
}

@media (max-width: 991px) {
  /* line 239, ../scss/restaurant.scss */
  #button-rec-foto {
    text-align: center;
  }

  /* line 242, ../scss/restaurant.scss */
  #btn-upload {
    margin-top: 10px;
  }

  /* line 245, ../scss/restaurant.scss */
  #btn-pubblica {
    text-align: center;
  }
}
@media (max-width: 385px) {
  /* line 251, ../scss/restaurant.scss */
  .rating-bar {
    width: 250px;
  }
}
@media (max-width: 345px) {
  /* line 256, ../scss/restaurant.scss */
  .rating-bar {
    width: 200px;
  }
}
@media (max-width: 290px) {
  /* line 261, ../scss/restaurant.scss */
  .rating-bar {
    width: 100px;
  }
}
/* line 266, ../scss/restaurant.scss */
.contenitori-blocco {
  margin-top: 60px;
}
/* line 268, ../scss/restaurant.scss */
.contenitori-blocco img {
  height: 70px;
  width: auto;
  text-align: center;
}
/* line 273, ../scss/restaurant.scss */
.contenitori-blocco h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
  text-align: center;
}
/* line 278, ../scss/restaurant.scss */
.contenitori-blocco hr {
  border-color: #DDD;
}

/* line 285, ../scss/restaurant.scss */
#recensioni-container .dataTables_wrapper table thead {
  display: none !important;
}
/* line 288, ../scss/restaurant.scss */
#recensioni-container table {
  border: 0px;
}
/* line 291, ../scss/restaurant.scss */
#recensioni-container td {
  background-color: #fff !important;
  border: 0px;
}
/* line 295, ../scss/restaurant.scss */
#recensioni-container .comment {
  margin-top: 25px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
  background-color: #e62739;
  color: white;
}
/* line 301, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}
/* line 305, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer {
  text-align: center;
  margin-top: 10px;
}
/* line 309, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer img {
  border: 2px solid white;
  width: 80px;
  height: 80px;
  margin: 2px;
}
/* line 315, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-writer .comment-data {
  color: #fff;
}
/* line 319, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content {
  padding-bottom: 5px;
}
/* line 321, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-nome-ristorante {
  text-align: right;
}
/* line 323, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-nome-ristorante a {
  color: #FFC300;
}
/* line 327, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
/* line 333, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .comment-text {
  font-size: 13px;
}
/* line 336, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 341, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .lb {
  text-align: right;
}
@media (max-width: 991px) {
  /* line 341, ../scss/restaurant.scss */
  #recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .lb {
    text-align: left;
  }
}
/* line 347, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-text {
  font-size: 12px;
}
/* line 350, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-autore, #recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-date {
  text-align: right;
  font-size: 12px;
}
/* line 354, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-autore {
  font-weight: bold;
  margin-bottom: 0px;
}
/* line 359, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
/* line 363, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .rating-stars img {
  height: 20px;
  width: auto;
}
/* line 368, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content p {
  text-align: justify;
}
/* line 371, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .btn-mi-piace {
  border: 1px solid #fff;
}
/* line 373, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .btn-mi-piace .badge {
  background-color: #e62739;
}
/* line 377, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .btn-non-mi-piace {
  background-color: #e62739;
  border: 1px solid #fff;
}
/* line 380, ../scss/restaurant.scss */
#recensioni-container .comment .container-fluid .row .comment-content .btn-non-mi-piace:hover {
  background-color: #C70039;
}

/* line 391, ../scss/restaurant.scss */
#map {
  height: 400px;
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
}

/* line 400, ../scss/restaurant.scss */
#dettagli-container .dettagli-lable {
  font-weight: bold;
  margin-top: 0px;
}
/* line 405, ../scss/restaurant.scss */
#dettagli-container #punteggi-riassunto .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
/* line 409, ../scss/restaurant.scss */
#dettagli-container #punteggi-riassunto .rating-stars img {
  height: 20px;
  width: auto;
}
/* line 416, ../scss/restaurant.scss */
#dettagli-container #cucina .tipi-di-cucina {
  font-size: 18px;
}
