/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2016, 3:46:05 PM
    Author     : andrei
*/

/*ristoranti*/

.modifica-risto {
    background: url('') no-repeat
        
}

.restaurant {
  margin-top: 15px;
  box-shadow: 10px 10px 5px #dedede;
  border: 1px solid #dedede;
}
.restaurant .row .restaurant-title {
  text-align: center;
  margin-top: 10px;
}
.restaurant .row .restaurant-title .r-img {
  border: 2px solid white;
  width: 100px;
  height: 100px;
  margin: 2px;
}
.restaurant .row .restaurant-title .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
.restaurant .row .restaurant-title .rating-stars img {
  height: 20px;
  width: auto;
}
.restaurant-body {
  margin-top: 10px;
}
 
.info-lable {
  font-weight: bold;
  font-size: 16px;
  color: #2196F3;
}
 
.info-text {
  font-size: 15px;
}
 
.btn-visita {
  text-align: right;
  margin-bottom: 10px;
}
.btn-visita button {
  background-color: #009688;
}
.btn-visita button:hover {
  background-color: #00796B;
}

/*commenti*/

/* line 213, ../scss/restaurant.scss */
.comment {
  margin-top: 25px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 5px 1px #999;
  background-color: #e62739;
  color: white;
}
/* line 219, ../scss/restaurant.scss */
.comment .container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}
/* line 223, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-writer {
  text-align: center;
  margin-top: 10px;
}
/* line 227, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-writer .img-circle {
  width: 80px;
  height: 80px;
  margin: 2px;
}
/* line 232, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-writer .comment-data {
  color: #fff;
  font-size: 12px;
}
/* line 236, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-writer .thumbnail {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 2px;
}
/* line 247, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-writer .thumbnail img {
  width: auto;
  height: auto;
}
/* line 252, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-writer .btn-segnala-photo-recensione {
  margin-top: 2px;
  margin-bottom: 5px;
  background-color: #e62739;
  border: 1px solid #fff;
  padding: 6px 8px 8px 8px;
  font-size: 14px;
  line-height: 1.42;
  border-radius: 5px;
}
/* line 265, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-writer .btn-segnala-photo-recensione:enabled:hover {
  background-color: #C70039;
}
/* line 271, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content {
  padding-bottom: 5px;
}
/* line 273, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .btn-segnala-review {
  border: 1px solid #fff;
  float: right;
  margin-top: 10px;
  background-color: #e62739;
}
/* line 279, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .btn-segnala-review:enabled:hover {
  background-color: #C70039;
}
/* line 284, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .comment-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
/* line 290, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .comment-text {
  font-size: 13px;
}
/* line 293, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .risposta-admin {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
/* line 298, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .risposta-admin .lb {
  text-align: right;
}
@media (max-width: 991px) {
  /* line 298, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .risposta-admin .lb {
    text-align: left;
  }
}
/* line 304, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .risposta-admin .risposta-text {
  font-size: 12px;
}
/* line 307, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .risposta-admin .risposta-autore, #recensioni-container .comment .container-fluid .row .comment-content .risposta-admin .risposta-date {
  text-align: right;
  font-size: 12px;
}
/* line 311, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .risposta-admin .risposta-autore {
  font-weight: bold;
  margin-bottom: 0px;
}
/* line 316, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .rating-stars {
  margin-left: 0px;
  margin-bottom: 10px;
  display: block;
}
/* line 320, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .rating-stars img {
  height: 20px;
  width: auto;
}
/* line 325, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content p {
  text-align: justify;
}
/* line 328, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .btn-mi-piace, #recensioni-container .comment .container-fluid .row .comment-content .btn-non-mi-piace {
  background-color: #e62739;
  border: 1px solid #fff;
}
/* line 335, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .btn-mi-piace:enabled:hover, #recensioni-container .comment .container-fluid .row .comment-content .btn-non-mi-piace:enabled:hover {
  background-color: #C70039;
}
@media (max-width: 387px) {
  /* line 328, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .btn-mi-piace, #recensioni-container .comment .container-fluid .row .comment-content .btn-non-mi-piace {
    font-size: 12px;
  }
}
/* line 344, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .btn-segnala-review {
  border: 1px solid #fff;
}
/* line 347, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .comment-nome-ristorante {
  float: right;
  margin-top: 5px;
}
/* line 350, ../scss/restaurant.scss */
.comment .container-fluid .row .comment-content .comment-nome-ristorante a {
  color: #FFC300;
  font-weight: bold;
}

/*notifiche*/

.alert-box {
		color:#555;
		border-radius:10px;
		font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
		padding:10px 36px;
		margin:10px;
	}
.alert-box span {
        font-weight:bold;
        text-transform:uppercase;
}

.notice {
		background:#e3f7fc no-repeat 10px 100%;
		border:1px solid #8ed9f6;
}

/*inf_profilo*/

.modifica {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: block;
        text-align: left;
        font-size: 14px;
}

.right {
        
        text-align: right;
        font-size: 14px;
}
.left {
        text-align: left;       
}


.box{
    width:auto; height:auto;
    background:url(boxbk.png) no-repeat top left;
    padding:0px 0;
    font-size:15px
}

.box-inner{
    height: auto;
    overflow:auto;
    margin:25px 24px 0; 
    padding-right:2px
}

.diventaRis{
    font-size:14px;
    width: 105px;
    padding: 2px;
    float: right;
}

.fixx{
    height: 40px;
    width: 175px;
}

mmm{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

acceptRA{
    
}

declineRA{
    
}

RA{
    
}

.removePhotoNot{
    margin-bottom: 3px;
}

.removeReviewNot{
    
}

.modRest
{
    background-image: url('somewhere.jpg');
    background-repeat: no-repeat;
    padding-left: 30px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
}

.modifyRest{
    
}

.visitRest{
    
}

.cPwd{margin-right: 38px;}

.comm {margin:10px;}

.notificaFoto{
    border-radius:0px;
    background: #d3f3f3 no-repeat 10px 100%;    
}

.notificaRecensione{
    border-radius:0px;
    background: #d3f3f3 no-repeat 10px 100%;    
}

.rispRecensione{
    text-align: center;
    margin-top: 3px; 
}

.contenutoNotFoto{
    margin: 10px;   
}

.allNotify{
    padding: 6px 6px;
}